.Toolbar {
    height: 39px;
    width: 91.6921197%;
    position: absolute;
    top: 18px;
    left: 5.98656078%;
    right: 2.19914478%;
    /* background-color: red; */
    display: flex;   
    flex-flow:initial;
    /* justify-content: space-between; */
    align-items: center;
    
    box-sizing: border-box;
    z-index: 90;
}

.Logo {
    height: 100%;
}
/*   */
.searchContainer{
    width: 664px;
    height: 34px;
    position: relative;
    padding: 0px 0px;
    border-bottom: 1px solid #AFE37B;
    position: absolute;
    left: 7.63591936%;
}
.elementContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
   
}
.search{
    border: none;
    height: 28px;
    padding: 0px 1px;
    width: 95%;
    font-size: 16px;
    color:#202026;
    font-weight: 300;
    letter-spacing: 0.5px;
    
    border-left: 5px solid #AFE37B;
}

.searchIcon{
    margin-top: 4px;
    float: right;
    color: #AFE37B;
}


.authButtons{
    position: absolute;
    left:71.8081857%
}
.AuthButton{
  border: none;
  background-color: white;
  top:12;
  bottom: 11;
  height: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #0D0321; 
 
}
.specialButton{
    position: absolute;
    left:82.2021991%;
    
}
.specialButton button{
    background-color: #B4E680; /* Green */
    border: none;
    color: #0D0321;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 135.11px;
    height: 38.64;
    border-radius: 5px;
    font-weight: 700;
    border-radius: 5px;
    clip-path:  polygon(7% 14%, 24% 10%,113% 0%,27% 8%,100% 0%, 100% 0%,95% 128%,152% 108%,259% 28% ,100% 280%,-114% 143%, 156% 241%, 341% -407%, 150% 98%, 4% 100%, 2% 20%)
}