/* .blogInfo{
    background-image: url(../../../assets/images/img1.jpeg);
    background-size: cover;
    height: 500px;
    width: 291px;
    background-position: center;
  
} */

.container{
        width: 291px;
        height:500px;
        position: relative;
        margin: 20px;
    }

.box{
   background-image: url(../../../assets/images/img1.jpeg);
    background-size: cover;
        width: 280px;
        height: 340px;            
        position: absolute;
        top: 0;
        left: 0;
         /* for demo purpose  */
          }
.stacktop{
         width: 263px;
        height: 220px;            
        position: absolute;
        top: 270px;
        left: 0;
        border-radius:10px 0px 10px 10px;
        z-index: 9;
        margin: 20px; /* for demo purpose  */

        transition: 0.6s ease-in-out;
    }
.courseName{
  font-size: 13px;
  font-weight: 400;
  opacity: 0.6;
  font:#3B3841;
  top: 16px;
}
.courseTitle{
    font-size: 16px;
    font-weight: 400px;
    font:#0D0321;
    line-height: 24px;
       text-transform: uppercase;
}
.line{
    width:30px;
    height: 4px;
    margin-left: 0px;
    border-style: none;
    background-color: #FDC221;
}
.courseInstructor{
    font-size: 14px;
    font-weight: 400;
    color:#0D0321;
    width: 104px;
    height: 16px;
}
.CoursePublishedOn{
     color: #817C8A;
     font-size: 13px;
     font-weight: 400;
     opacity: 0.8;
}
.reactions{
    height: 52px;
    border-top: 1px solid #686671;
    opacity: 0.5;
    display: flex;   
    flex-flow:initial;
    opacity: 0;
    color:#686671 ;
    align-items: top;
    box-sizing: border-box;
      transition: 0.6s ease-in-out;
}
.eyes{
    color: #C8C5CF;
    height: 10.62px;
    width: 19.61px;
}
.iconswithpara{
    display: flex;
    align-items: center;
}
.view{
    font-size: 11px;
    margin-left: 4px;
    margin-top: 7px;
}
.stacktop:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.6);
}
.stacktop:hover .reactions{
    opacity: 1;
}